.chart-box {
  background-color: #fff;
  border-radius: 10px;
  padding: 10px;
  margin-bottom: 20px;
}

.chart-box span {
  color: #666;
}
.chart-box ul {
  list-style: none;
  display: flex;
  gap: 20px;
  padding: 0;
}
.chart-box ul li {
  font-size: 13px;
  font-weight: 500;
  line-height: 30px;
  width: 50px;
  height: 30px;
  border-radius: 30px;
  text-align: center;
  color: #000;
}
.chart-box ul li.active1 {
  background-color: rgb(102, 209, 255);
  color: #fff;
}
.chart-box ul li.active2 {
  background-color: orange;
  color: #fff;
}
@media only screen and (max-width: 1100px) {
  .chart-box {
    text-align: center;
  }
  .chart-box .head-chart {
    flex-direction: column;
    align-items: center;
    margin-bottom: 10px;
  }
  .recharts-wrapper {
    width: 100% !important;
  }
  .recharts-wrapper svg {
    max-width: 100%;
  }
}
