.main-title .container-fluid {
  padding-top: 5px;
  padding-bottom: 5px;
}
.title-icon {
  color: var(--main-burble-color);
  margin-right: 5px;
}
.title {
  color: var(--main-burble-color);
  margin-bottom: 0;
  font-size: 14px;
  font-weight: 500;
}
